@using Microsoft.Extensions.Localization
@using DatePicker.Web
@inject IStringLocalizer<Shared> Localizer
@{
    ViewData["Title"] = @Localizer["features"];
}
<style>
    .nav-top li .feature {
        color: #3498DB;
        border-bottom: 2px solid #3498DB;
    }
</style>
<div class="left">
    <ul class="sub_left">
        <li class="current" html=@Localizer["timeurl"] id="time" params="?tag=time">
            <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;@Localizer["time"]
        </li>
        <li html=@Localizer["formaturl"] id="format" params="?tag=format">
            <i class="fa fa-cube" aria-hidden="true"></i>&nbsp;@Localizer["format"]
        </li>
        <li html=@Localizer["rangeurl"] id="range" params="?tag=range">
            <i class="fa fa-bullseye" aria-hidden="true"></i>&nbsp;@Localizer["range"]
        </li>
        <li html=@Localizer["dblclickurl"] id="dblclick" params="?tag=dblclick">
            <i class="fa fa-dot-circle-o" aria-hidden="true"></i>&nbsp;@Localizer["dblclick"]
        </li>
        <li html=@Localizer["initurl"] id="init" params="?tag=init">
            <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;@Localizer["init"]
        </li>
        <li html=@Localizer["languageurl"] id="language" params="?tag=language">
            <i class="fa fa-globe" aria-hidden="true"></i>&nbsp;@Localizer["language"]
        </li>
        <li html=@Localizer["skinurl"] id="skin" params="?tag=skin">
            <i class="fa fa-star-half-o" aria-hidden="true"></i>&nbsp;@Localizer["skin"]
        </li>
        <li html=@Localizer["styleurl"] id="style" params="?tag=style">
            <i class="fa fa-magic" aria-hidden="true"></i>&nbsp;@Localizer["style"]
        </li>
    </ul>
</div>
<div class="right">

</div>