@{
    ViewData["Title"] = "Feature";
}
@section script{
    <script src="~/js/side.js"></script>
}
<style>
    .nav-top li .feature {
        color: #3498DB;
        border-bottom: 2px solid #3498DB;
    }
</style>
<div class="left">
    <ul class="sub_left">
        <li class="current" html="/html/time.html">
            <i class="fa fa-clock-o" aria-hidden="true"></i> 时间
        </li>
        <li html="/html/format.html">
            <i class="fa fa-hashtag" aria-hidden="true"></i> 格式
        </li>
        <li html="/html/range.html">
            <i class="fa fa-bullseye" aria-hidden="true"></i> 范围
        </li>
        <li html="/html/init.html">
            <i class="fa fa-refresh" aria-hidden="true"></i> Init
        </li>
        <li html="/html/language.html">
            <i class="fa fa-globe" aria-hidden="true"></i> 语言
        </li>
        <li html="/html/skin.html">
            <i class="fa fa-star-half-o" aria-hidden="true"></i> 皮肤
        </li>
        <li html="/html/style.html">
            <i class="fa fa-magic" aria-hidden="true"></i> 样式
        </li>
    </ul>
</div>
<div class="right">

</div>