@{
    ViewData["Title"] = "功能";
}
<style>
    .nav-top li .feature {
        color: #3498DB;
        border-bottom: 2px solid #3498DB;
    }
</style>
<div class="left">
    <ul class="sub_left">
        <li class="current" html="/html/en/time.html" id="time" params="?tag=time">
            <i class="fa fa-clock-o" aria-hidden="true"></i> 时间
        </li>
        <li html="/html/en/format.html" id="format" params="?tag=format">
            <i class="fa fa-hashtag" aria-hidden="true"></i> 格式
        </li>
        <li html="/html/en/range.html" id="range" params="?tag=range">
            <i class="fa fa-bullseye" aria-hidden="true"></i> 范围
        </li>
        <li html="/html/en/init.html" id="init" params="?tag=init">
            <i class="fa fa-refresh" aria-hidden="true"></i> Init
        </li>
        <li html="/html/en/language.html" id="language" params="?tag=language">
            <i class="fa fa-globe" aria-hidden="true"></i> 语言
        </li>
        <li html="/html/en/skin.html" id="skin" params="?tag=skin">
            <i class="fa fa-star-half-o" aria-hidden="true"></i> 皮肤
        </li>
        <li html="/html/en/style.html" id="style" params="?tag=style">
            <i class="fa fa-magic" aria-hidden="true"></i> 样式
        </li>
    </ul>
</div>
<div class="right">

</div>