<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <environment names="Development">
        <link href="~/css/layout.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
       
    </environment>
    <style>
        
    </style>
</head>
<body>
    <div class="top">
        <a class="fa fa-calendar-check-o fa-2x icon" href="#"></a>
        <ul class="nav-top">
            <li>
                <a href="" class="current">首页</a>
            </li>
            <li>
                <a href="">功能</a>
            </li>
            <li>
                <a href="">多语言</a>
            </li>
            <li>
                <a href="">皮肤</a>
            </li>
            <li>
                <a href="">文本框</a>
            </li>
        </ul>
    </div>
    @RenderBody()

</body>
</html>
