.comment_filter {
    background-color: #fff;
    height: 35px;
    line-height: 33px;
}

    .comment_filter .txt {
        display: inline-block;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 10px;
        height: 33px;
        width: 45px;
        text-align: center;
        cursor: pointer;
    }

        .comment_filter .txt:hover {
            color: #FFA405;
        }

    .comment_filter .current {
        font-weight: 600;
    }

.comment_data {
    background-color: #fff;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 10px;
    height: 100%;
}

    .comment_data .data_name {
        font-weight: 600;
    }

    .comment_data .data_ip {
        color: #8F8F97;
    }
