* {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: "SimSun";
}

body {
    background-color: #EEEEEE;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.fa {
    width: 12px;
}
.logo {
    color: #3498DB;
    width: 40px;
    text-align: center;
}

    .logo:hover {
        color: #297DBA;
    }

.container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    /*border:1px solid red;*/
}

.top {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 75%;
    min-width: 500px;
    height: 35px;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #FF8C00;
}

.nav-top {
    list-style: none;
}

    .nav-top li {
        float: left;
        margin-left: 10px;
    }

        .nav-top li a {
            font-family: 'Microsoft YaHei UI';
            font-size: 15px;
            width: 75px;
            height: 35px;
            line-height: 35px;
            border-bottom: 2px solid transparent
        }

            .nav-top li a:hover {
                border-color: #3498DB;
                color: #3498DB;
            }

a {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: #34495E;
    text-decoration: none;
}

.middle {
    display: flex;
    min-height: 700px;
    min-width: 500px;
    margin-top: 50px;
}

.content_left {
    position: fixed;
    width: 130px;
    background-color: #fff;
    min-height: 600px;
}

.content_middle {
    flex: 1;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 10px;
    margin-left: 140px;
    color: #34495E;
    line-height: 25px;
    overflow: hidden;
}

.content_right {
    width: 230px;
    background-color: #fff;
    margin-left: 10px;
}

.meun_left {
    list-style: none;
    min-height: 250px;
    overflow: hidden;
}

    .meun_left li {
        text-align: left;
        padding-left: 20px;
        cursor: pointer;
        height: 35px;
        line-height: 35px;
        color: #586072;
        border-left: 2px solid transparent;
    }

        .meun_left li:hover {
            background-color: #EFF3F5;
        }

    .meun_left .current {
        border-left: 2px solid #E36209;
        color: #FF8C00;
        background-color: #E4E9EC
    }

.bottom {
    display: flex;
    margin-top: 20px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: Arial;
}

.lang_bar {
    position: fixed;
    display: flex;
    right: 0;
    bottom: 0;
    height: 25px;
    width: 60px;
    font-weight: bold;
}

    .lang_bar .lang_bar_txt {
        flex: 1;
        background-color: #EB8C00;
        text-align: center;
        line-height: 25px;
        margin-left: 2px;
        cursor: pointer;
        color: #fff;
    }

        .lang_bar .lang_bar_txt:hover {
            background-color: #DC6900;
        }
