@{
    ViewData["Title"] = "Home Page";
}
@section script{
    <script src="~/js/side.js"></script>
}
<style>
    .nav-top li .home {
        color: #3498DB;
        border-bottom: 2px solid #3498DB;
    }
</style>

<div class="left">
    <ul class="sub_left">
        <li class="current" html="/html/begin.html">
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 开始
        </li>
    </ul>
</div>
<div class="right">

</div>