@{
    ViewData["Title"] = "Home Page";
}
<style>
    .middle {
        display: flex;
        width: 75%;
        margin: 0 auto;
        min-height: 550px;
        margin-top: 15px;
    }

    .left {
        flex: 1;
    }

    .right {
        flex: 8;
    }

    .sub_left {
        list-style: none;
        border: 1px solid #E8EBF0;
        min-height: 250px;
        /*background-color: #F8F8FF;*/
    }

        .sub_left a {
            width: 100%;
            height: 35px;
            line-height: 35px;
            border-bottom: 1px solid #E8EBF0;
            color: #586072;
            border-left: 2px solid transparent;
        }
            .sub_left a:hover {
                border-left: 2px solid #E36209;
                color: #FF8C00;
            }
</style>
<div class="middle">
    <div class="left">
        <ul class="sub_left">
            <li>
                <a href=""><i class="fa fa-list-ul" aria-hidden="true"></i> 简介</a>
                <a href=""><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 开始</a>
            </li>
        </ul>
    </div>
    <div class="right">

    </div>
</div>