@using Microsoft.Extensions.Localization
@using DatePicker.Web
@inject IStringLocalizer<Shared> Localizer
@{
    ViewData["Title"] = @Localizer["intro"];
}
<script>
    $(function () {
        var dv = $("#intro");
        $.get(dv.attr("html"), function (data) {
            dv.loading();
            dv.html(data);
            dv.loading();
        });
    });
</script>
<div style="width:100%;min-width700px;color:#34495E;font-size:14px;line-height: 25px;background-color: #fff;padding: 10px;" html="@Localizer["introurl"]" id="intro">
</div>