@using Microsoft.Extensions.Localization
@using DatePicker.Web
@inject IStringLocalizer<Shared> Localizer
@addTagHelper  Microsoft.AspNetCore.Mvc.TagHelpers.EnvironmentTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = @Localizer["forum"];
}
@section script{
    <environment names="Development">
        <link href="~/css/forum.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/forum.min.css" rel="stylesheet" />
    </environment>
}
<style>
    .nav-top li .forum {
        color: #3498DB;
        border-bottom: 2px solid #3498DB;
    }
</style>
<script>
    $(function () {
        //线条变色
        $(".comment_txt").focus(function () {
            $(this).parent().addClass("checked");
        }).blur(function () { $(this).parent().removeClass("checked"); });
        var express = $(".express");  //express
        var img = $(".imgs");   //img
        var fileInput = $("#file_img"); //fileInput
        var textarea = $("#comment_area");
        $("#express_btn").click(function () {
            if (express.is(":hidden")) {
                express.show(150);
                $.get("expresslist", function (data) {
                    var list = "";
                    for (var i = 0; i < data.data.length; i++) {
                        list += "<li><img src='" + data.data[i].url + "' title='" + data.data[i].name + "'/></li>";
                    }
                    express.html("<ul>" + list + "</ul>");
                });
            } else {
                express.hide(150);
            }
        });
        //icon click
        express.click(function (event) {
            var name = (event.target || event.srcElement).title;
            if (!name) return;
            insertText(textarea, "[" + name + "]");
        });
        //img click
        img.click(function (event) {
            var target = event.target || event.srcElement;
            if ($(target).attr("tag") == "add") { 
                fileInput.val("");
                fileInput.click();
            }
            if ($(target).attr("tag") == "delete") {
                console.log("del");

            }
            

        });

        fileInput.change(function () {
            console.log("change");
        });

        function insertText(input, value) {
            if (!(input instanceof jQuery)) input = $(input);
            input.focus();
            var curosrPosition = input.prop("selectionStart"),
                text = input.val(),
                textLeft = text.substring(0, curosrPosition),
                textRight = text.substring(curosrPosition, text.length);
            input.val(textLeft + value + textRight);
            setSelectionRange(input[0], curosrPosition + value.length, curosrPosition + value.length);
        }
        //选中，或设置光标位置
        function setSelectionRange(input, selectionStart, selectionEnd) {
            if (input.setSelectionRange) {
                input.setSelectionRange(selectionStart, selectionEnd);
            }
            else if (input.createTextRange) {
                var range = input.createTextRange();
                range.collapse(true);
                range.moveEnd('character', selectionEnd);
                range.moveStart('character', selectionStart);
                range.select();
            }
        }
    });
</script>
<div class="content_left">
    <ul class="meun_left">
        <li class="current" html=@Localizer["forumurl"] id="forum" params="?tag=forum">
            <i class="fa fa-comments" aria-hidden="true"></i>&nbsp;@Localizer["forum"]
        </li>
    </ul>
</div>
<div class="content_middle" style="padding:0;background-color:transparent;">

</div>
<div class="content_right">
    <div class="comment_form">
        <div class="comment_title">评论</div>
        <div class="comment_area">
            <textarea name="comment_area" id="comment_area" class="comment_txt" style="width:100%;height:100%;border-width:0;border-style:none;outline:none;resize: none;"></textarea>
        </div>
        <div class="comment_bottom">
            <div class="comment_button">
                <i class="fa fa-meh-o" aria-hidden="true" id="express_btn"></i><i class="fa fa-picture-o" aria-hidden="true" id="img_btn"></i>
            </div>
            <div class="comment_submit">
                <div class="submit">提交</div>
            </div>
        </div>
        <div class="express" style="display:none">

        </div>
        <div class="imgs">
            <div class="img_item uploaded">
                <svg viewBox="0 0 1024 1024" width="16" height="16" tag="delete">
                    <path d="M808.877682 730.727607l-78.126568 78.115102L512.02456 590.133521 293.290843 808.843732l-78.125544-78.115102 218.733717-218.717374-218.733717-218.7317 78.125544-78.122265 218.733717 218.7317 218.726554-218.7317 78.126568 78.122265-218.726554 218.7317L808.877682 730.727607z" tag="delete"></path>
                </svg>
            </div>
            <div class="img_item" fileid="" tag="add">
                <i class="fa fa-plus" aria-hidden="true" tag="add"></i>
            </div>
            <div class="img_item" fileid="" tag="add">
                <i class="fa fa-plus" aria-hidden="true" tag="add"></i>
            </div>
            <div class="img_item">
                <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
            </div>

        </div>
    </div>
</div>
<input type="file" id="file_img" accept="image/gif,image/jpeg,image/png" multiple="multiple" />