@using Microsoft.Extensions.Localization
@using DatePicker.Web
@inject IStringLocalizer<Shared> Localizer
@{
    ViewData["Title"] = @Localizer["forum"];
}
<style>
    .nav-top li .forum {
        color: #3498DB;
        border-bottom: 2px solid #3498DB;
    }
</style>
<script>
    $(function () {
        $(".comment_txt").focus(function () {
            $(this).parent().addClass("checked");
        }).blur(function () { $(this).parent().removeClass("checked"); });
       
    })
</script>
<div class="content_left">
    <ul class="meun_left">
        <li class="current" html=@Localizer["forumurl"] id="forum" params="?tag=forum">
            <i class="fa fa-comments" aria-hidden="true"></i>&nbsp;@Localizer["forum"]
        </li>
    </ul>
</div>
<div class="content_middle" style="padding:0;background-color:transparent;">

</div>
<div class="content_right">
    <div class="comment_form">
        <div class="comment_title">评论</div>
        <div class="comment_area">
            <textarea name="comment_area" class="comment_txt" style="width:100%;height:100%;border-width:0;border-style:none;outline:none;resize: none;"></textarea>
        </div>
        <div class="comment_bottom">
            <div class="comment_button">
                <i class="fa fa-meh-o" aria-hidden="true"></i><i class="fa fa-picture-o" aria-hidden="true"></i>
            </div>
            <div class="comment_submit">
                <div class="submit">提交</div>
            </div>
        </div>
        <div class="express" html=@Localizer["expressurl"]>
            <ul>
                <li><img src="~/images/express/smile.gif" /></li>
                <li><img src="~/images/express/tootha.gif" /></li>
                <li><img src="~/images/express/heia.gif" /></li>
                <li><img src="~/images/express/laugh.gif" /></li>
                <li><img src="~/images/express/ok.gif" /></li>
                <li><img src="~/images/express/cry.gif" /></li>
                <li><img src="~/images/express/cool.gif" /></li>
                <li><img src="~/images/express/88.gif" /></li>
                <li><img src="~/images/express/bs.gif" /></li>
                <li><img src="~/images/express/bz.gif" /></li>
                <li><img src="~/images/express/yx.gif" /></li>
                <li><img src="~/images/express/haqian.gif" /></li>
                <li><img src="~/images/express/geiliv.gif" /></li>
                <li><img src="~/images/express/sada.gif" /></li>
                <li><img src="~/images/express/angry.gif" /></li>
                <li><img src="~/images/express/money.gif" /></li>
                <li><img src="~/images/express/good.gif" /></li>
            </ul>
        </div>
    </div>
</div>