@using Microsoft.Extensions.Localization
@using DatePicker.Web
@inject IStringLocalizer<Shared> Localizer
@{
    ViewData["Title"] = Localizer["download"];
}
<style>
    .nav-top li .download {
        color: #3498DB;
        border-bottom: 2px solid #3498DB;
    }
</style>
<div class="left">
    <ul class="sub_left">
        <li class="current" html=@Localizer["downloadurl"] id="download" params="?tag=download">
            <i class="fa fa-download" aria-hidden="true"></i>&nbsp;@Localizer["download"]
        </li>
        <li html=@Localizer["sourcecodeurl"] id="sourcecode" params="?tag=sourcecode">
            <i class="fa fa-code" aria-hidden="true"></i>&nbsp;@Localizer["sourcecode"]
        </li>
        <li html=@Localizer["sourceurl"] id="source" params="?tag=source">
            <i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;@Localizer["source"]
        </li>
    </ul>
</div>
<div class="right">

</div>