@{
    ViewData["Title"] = "下载";
}
<style>
    .nav-top li .download {
        color: #3498DB;
        border-bottom: 2px solid #3498DB;
    }
</style>
<div class="left">
    <ul class="sub_left">
        <li class="current" html="/html/en/download.html" id="download" params="?tag=download">
            <i class="fa fa-download" aria-hidden="true"></i> 下载
        </li>
        <li html="/html/en/sourcecode.html" id="sourcecode" params="?tag=sourcecode">
            <i class="fa fa-code" aria-hidden="true"></i> 源码
        </li>
        <li html="/html/en/images.html" id="images" params="?tag=images">
            <i class="fa fa-picture-o" aria-hidden="true"></i> 素材
        </li>
    </ul>
</div>
<div class="right">

</div>